p {
  font-family: Roboto;
  font-weight: 500;
}
body {
  margin: 0;
}
a {
  font-family: Roboto;
}
.wrapper {
 margin: auto;
 width: 80%;
 }
.logo, .menu {
 display: inline-block;
 padding: 32px 0;
}
.logo {
 margin-right: 62%;
 width: 190px;
 height: 35px;
 padding-left: 44px;
 padding-top: 43px;
 font: bold 24px/31px pt_serif,normal;
 position: relative;
}
.logo__text {
  transition: transform .6s ease-in-out;
  }
  .logo__text:hover {
    transform: rotate (360deg);
  }
  .logo__circle {
    left: 0;
    top: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: .7;
  }
  .logo__circle_color_dark-blue {
    background: #0056ec;
  }
  .logo__circle_color_blue {
   left: 8px;
   top: 56%;
   background: #c8dbfb;
  }

.header {
 padding: 40px 0;
 display: flex;
 justify-content: space-between;
 }
.menu {
 display: flex;
 align-items: center;
}
.menu__item {
 padding: 0 13px;
 }
.menu__item:last-child {
 padding-right: 0;
 width: max-content;
}
